body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
    width: 100%;
    margin: auto;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  text-decoration : underline;
}


.staffImage {
    background-color: #036fab;
}

.staffImage:hover {
    background-color: #33CC00;
}

.staffImage a:link, a:visited {
  color: #045491;
  text-decoration: none;
}

.staffImage a:link:hover, a:visited:hover  {
  color: #045491;
  text-decoration : underline;
}

