/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mai-2016, 23:33:10
    Author     : r.hendrick
*/



#unitWest-resizer{
    background-color: lightgrey;
    margin:0px!important;
}
#unitWest-resizer:hover{
    background-color: grey;
}
#unitWest-toggler{
    margin-top: 100px!important;
}
#unitWest-toggler >  span .content.content-closed{
    display: none;
}

#unitWest-toggler > span > a > span{
    background-color: lightyellow;
    background-position: -32px -16px;
}




#unitEast-resizer{
    background-color: lightgrey;
    margin:0px!important;
}
#unitEast-resizer:hover{
    background-color: grey;
}
#unitEast-toggler{
    margin-top: 100px!important;
}
#unitEast-toggler >  span .content.content-closed{
    display: none;
}

#unitEast-toggler > span > a > span{
    background-color: lightyellow;
    background-position: -96px -16px;
}







