/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mai-2016, 23:33:10
    Author     : r.hendrick
*/


#unitNorth .ui-layout-unit-header.ui-widget-header.ui-corner-all{
    padding: 0px;
    margin: 0px;
    height: 24px; 
}
#unitNorth .ui-layout-unit-header-title{
    float: left;
}
#unitNorth .ui-layout-unit-content.ui-widget-content{
    padding: 0px;
    margin: 0px;
    padding-top: 1px;
}
#unitNorth a.ui-layout-unit-header-icon.ui-state-default.ui-corner-all{
    display: none;
}


/* ==============================================*/
.unitNorthHeader{
    max-height: 10px; 
}

#unitNorth-resizer{
    background-color: lightgrey;
    margin:0px!important;
}
#unitNorth-resizer:hover{
    background-color: grey;
}
#unitNorth-toggler{
    width: 20%!important;
    height: 100%!important;
    margin-left: 40%!important;
    padding: 0px!important;
    background-color: #CCC;
}
#unitNorth-toggler >  span .content.content-closed{
    display: none;
}
#unitNorth-toggler > span > a > span{
    display: none;
    background-color: lightyellow;
    background-position: 0px -16px;
}

/* ==============================================*/
#unitWest-resizer{
    background-color: lightgrey;
    margin:0px!important;
}
#unitWest-resizer:hover{
    background-color: grey;
}
#unitWest-toggler{
    width: 100%!important;
    height: 20%!important;
    margin-top: 200px!important;
    padding: 0px!important;
    background-color: #CCC;
}
#unitWest-toggler >  span .content.content-closed{
    display: none;
}
#unitWest-toggler > span > a > span{
    display: none;
    background-color: lightyellow;
    background-position: -32px -16px;
}
/* ==============================================*/
#unitEast-resizer{
    background-color: lightgrey;
    margin:0px!important;
}
#unitEast-resizer:hover{
    background-color: grey;
}
#unitEast-toggler{
    width: 100%!important;
    height: 20%!important;
    margin-top: 200px!important;
    padding: 0px!important;
    background-color: #CCC;
}
#unitEast-toggler >  span .content.content-closed{
    display: none;
}
#unitEast-toggler > span > a > span{
    display: none;
    background-color: lightyellow;
    background-position: -96px -16px;
     
}








