/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-mai-2016, 11:26:00
    Author     : r.hendrick
*/

/* =============================================================================
 * DECOMPOSITION DE LA PAGE PRINCIPALE
 * ===========================================================================*/
body, html {
    margin:0;
    padding: 0px;
    height: 100%;
}


/* =============================================================================
 * MANAGING LAYOUT
 * ===========================================================================*/
/** NORTH   *************************************/
.ui-layout-north {
    border: none;
    padding: 0px!important;
    margin: 0px!important;
    min-height: 152px;  
    z-index:40 !important;
    overflow:visible !important;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
/** WEST   *************************************/
.ui-layout-west {
    /*
    padding: 0px!important;
    margin: 0px!important;
    max-width: 200px; 
    width: 200px;
    /*z-index:40 !important;*/
    /*overflow:visible !important;
    background-color: #333;
    color: white;*/
}
.ui-layout-west .ui-layout-unit-content {
    /*overflow:visible !important;*/
}

/* =============================================================================
 * SETTING MENU
 * ===========================================================================*/

#layout-menu {
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    float: left;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
}
#layout-menu h1{
    text-align: center;
}
#layout-menu img{
    width: 32px;
    height: 32px;
}

/* =============================================================================
 * Managing sidebar
 * ===========================================================================*/
/*
#sidebar{
    right: 0;
    top: 151px;

    
    
    position: fixed;

    border: 1px #f2f2f2 solid;
    background-color: #333;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier *//*
    z-index: 150;
}

#sidebar-options{
    width: 100%;
    min-width: 48px;
    /*height: 48px;*//*
    text-align: center;
    margin: auto;
}
#sidebar-options:hover{
    background: #33CC00;
    border: none;
}

#sidebar-options img{
    margin-top: 2px;
    width: 28px;
    height: 28px;
}

#sidebar-content{
    min-width: 220px;
    height: 100%;
    display: none;
}
#sidebar .ui-button{
    width: 100%;
    margin-right: 2px;
    background:none;
    border: none;
}
#sidebar .ui-button:hover{
    background: #33CC00;
    border: none;
}*/





/* =============================================================================
 * GENERAL DEFAULT SETTING
 * ===========================================================================*/
html, body, div, span, 
applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
}






/* =============================================================================
 * Setup Table
 * ===========================================================================*/


#file-layout button,
.ui-widget,
#file-layout .ui-widget input,
#file-layout .ui-widget select,
#file-layout .ui-widget ui-selectonemenu,
#file-layout .ui-widget textarea,
#file-layout .ui-widget button,
#file-layout .ui-widget-header,
#file-layout .ui-widget-content,
#file-layout .ui-widget-header .ui-widget-header,
#file-layout .ui-widget-content .ui-widget-content {
    font-family: calibri, Helvetica,"Trebuchet MS",  sans-serif !important;
    font-size: 10pt;
}



/* =============================================================================
 * Manage CRUD BUTTON / OPTIONS
 * ===========================================================================*/
.ui-btn-set{
    border: 1px solid #f2f2f2;
    padding : 3px;
    width: 100%;
    align-content: center;
}

.ui-btn{
    margin-top: 10px;
}


#bodyForm\3a btn-crud-zone_id button{
    margin-top: 10px;
}


.menu-btn .ui-icon{
    margin:0px;
    padding: 0px;
    margin-top: -6px;
    width: 22px;
    height: 22px;
}
.menu-btn .ui-button-text.ui-c{
    margin-left: 20px;
}
.options-btn {
    padding:0px;
    margin:0px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    height: 28px;
    border-radius: 0px;
}
.options-btn .ui-icon{
    
    margin:0px;
    padding: 0px;
    /*
    margin-top: -9px;
    width: 22px;
    height: 22px;*/
}
.options-btn .ui-button-text.ui-c{
    margin-left: 14px;
    text-align: left;
}


/* =============================================================================
 * Manage CRUD BUTTON ICON
 * ===========================================================================*/
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Open{
    background: url("#{resource['img/ism/std/Open.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-View{
    background: url("#{resource['img/ism/std/View.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Accept{
    background: url("#{resource['img/ism/std/Accept.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Create{
    background: url("#{resource['img/ism/std/Create.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Edit{
    background: url("#{resource['img/ism/std/Edit.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Save{
    background: url("#{resource['img/ism/std/Save.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-SaveOne{
    background: url("#{resource['img/ism/std/SaveOne.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Cancel{
    background: url("#{resource['img/ism/std/Cancel.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Delete{
    background: url("#{resource['img/ism/std/Delete.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Approuve{
    background: url("#{resource['img/ism/std/Approuve.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Refuse{
    background: url("#{resource['img/ism/std/Refuse.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Actions{
    background: url("#{resource['img/ism/std/Actions.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Cloture{
    background: url("#{resource['img/ism/std/Cloture.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-Refresh{
    background: url("#{resource['img/ism/std/Refresh.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-DlgCritical{
    background: url("#{resource['img/ism/std/DlgCritical.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-DlgInfos{
    background: url("#{resource['img/ism/std/DlgInfos.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-DlgWarning{
    background: url("#{resource['img/ism/std/DlgCritical.png']}") no-repeat;
    background-size:contain;
}


.ui-icon.ui-confirm-dialog-severity{
    display: none;
}

/* =============================================================================
 * GESTION D'AFFICHAGE DES FORMULAIRE
 * ===========================================================================*/
.columnFieldClass{
    min-width: 150px;
}
.columnContentClass{
    width: 100%;
}
.columnContentClass input,
.columnContentClass select{
    width: 400px;
}

.columnContentClass .ui-selectonemenu {
    min-width: 405px;
    max-width: 405px;
}
/*
.columnContentClass .ui-selectonemenu label{
    min-height: 16px;
}
*/

