/*
.ui-widget {
    font-size: 12px !important;
}

.ui-layout-north {
    font-size: 10px !important;
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}

#MainWindowForm\3a MainWindowRibbon > ul > li:nth-child(1) {
    border-top-left-radius: 20px;
    background-color: gold;
}

#MainWindowForm\3a MainWindowRibbon > ul > li.ui-state-default.ui-tabs-selected.ui-state-active.ui-corner-top:nth-child(1){
    background-color: white;
}

#MainWindowForm\3a MainWindowRibbon > ul > li.ui-state-default.ui-state-hover.ui-corner-top:nth-child(1){
    background-color: darkorange;
}
*/
/* ***********************************************
    USER SPLIT BUTTON
**************************************************/
/*
#MainWindowForm\3a\3a splitButtonStaffUser{
    height: 48px !important;
    width:  64px !important;
}

#MainWindowForm\3a splitButtonStaffUser_button{
    height: 48px !important;
    width:  64px !important;
    // RADIUS
    border-radius:              0px !important;
    border-top-right-radius:    5px !important;
    border-top-left-radius:     5px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius:  0px !important;
    
}

#MainWindowForm\3a splitButtonStaffUser_button > span.ui-button-icon-left.ui-icon.ui-c.ism-menu-icon-user{
    margin-left: -24px !important;
    margin-right: -30px !important;
    margin-top: -21px !important;
    background-image: url("#{resource['img/staff/User-Executive-Blue-icon.png']}") !important;
    background-size: 48px 48px !important;
    height: 40px;
    width:  48px;
}
#MainWindowForm\3a splitButtonStaffUser_menuButton{
    margin-left: -63px;
    margin-top: 49px;
    height: 10px !important;
    width:  64px !important;
    // BACKGROUND
    background-image: none !important;

    // RADIUS
    border-radius:              0px !important;
    border-top-right-radius:    0px !important;
    border-top-left-radius:     0px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius:  5px !important;
    
}
*/
/* ***********************************************
    NON CONFORMITE SPLIT BUTTON
**************************************************/
/*
#MainWindowForm\3a splitButtonAdminNC{
    // Div d'espace
    height: 48px !important;
    width:  64px !important;
}
#MainWindowForm\3a splitButtonAdminNC_button{
    height: 48px !important;
    width:  64px !important;
    // RADIUS
    border-radius:              0px !important;
    border-top-right-radius:    5px !important;
    border-top-left-radius:     5px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius:  0px !important;
}

#MainWindowForm\3a splitButtonAdminNC_button > span.ui-button-icon-left.ui-icon.ui-c.ism-menu-icon-nc{
    margin-left: -28px !important;
    //margin-right: -30px !important;
    margin-top: -25px !important;
    background-image: url("#{resource['img/quality/Bank-Check-icon.png']}") !important;
    background-size: 56px 56px !important;
    width:  64px;
    height: 64px;
}
#MainWindowForm\3a splitButtonAdminNC_menuButton{
    margin-left: -63px;
    margin-top: 49px;
    height: 10px !important;
    width:  64px !important;
    // BACKGROUND
    background-image: none !important;

    // RADIUS
    border-radius:              0px !important;
    border-top-right-radius:    0px !important;
    border-top-left-radius:     0px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius:  5px !important;
}
*/
/* ***********************************************
    NON CONFORMITE SPLIT BUTTON
**************************************************/
/*
#MainWindowForm\3a splitButtonRHStaffRole{
    // Div d'espace
    height: 24px !important;
    width:  32px !important;
}
#MainWindowForm\3a splitButtonRHStaffRole_button{
    height: 24px !important;
    width:  32px !important;
    // RADIUS
    border-radius:              0px !important;
    border-top-right-radius:    5px !important;
    border-top-left-radius:     5px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius:  0px !important;
}

#MainWindowForm\3a splitButtonRHStaffRole_button > span.ui-button-icon-left.ui-icon.ui-c.ism-menu-icon-rhStaffRole{
    margin-left: -10px !important;
    //margin-right: -30px !important;
    margin-top: -10px !important;
    background-image: url("#{resource['img/security/encrypted.png']}") !important;
    background-size: 20px 20px !important;
    width:  32px;
    height: 32px;
}
#MainWindowForm\3a splitButtonRHStaffRole_menuButton{
    margin-left: -31px;
    margin-top: 24px;
    height: 4px !important;
    width:  32px !important;
    // BACKGROUND
    background-image: none !important;

    // RADIUS
    border-radius:              0px !important;
    border-top-right-radius:    0px !important;
    border-top-left-radius:     0px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius:  5px !important;
}

*/
/* ***********************************************
    CRUD BUTTON
**************************************************/
/*
#MainWindowForm\3a StaffManagerListButton{
    margin-top: -2px;
    width: 56px;
}
#MainWindowForm\3a StaffManagerListButton > span.ui-button-icon-left.ui-icon.ui-c.StaffManagerListButtonIco{
    background-image: none !important;
    margin-top: -32px;
    margin-left: -26px;
    width:  56px !important;
    height: 64px !important;
    background-image: url("#{resource['img/staff/people.png']}") !important;
    background-size: 52px 66px !important;
}

#MainWindowForm\3a StaffManagerListButton :hover{
    border-radius: 5px;
    background-color: #a1dbff;
}
*/
/*
    TREE
*/
/*
#StaffGroupDefRoleCreateTreeForm\3a tree{
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px !important;
}

/* ***********************************************
    CRUD BUTTON LIST 
**************************************************/
/*
#MainWindowForm\3a ProcessCtrlSampleListButton{
    margin-top: -2px;
    width: 56px;
}
#MainWindowForm\3a ProcessCtrlSampleListButton > span.ui-button-icon-left.ui-icon.ui-c.ProcessCtrlSampleListButtonIco{
    background-image: none !important;
    margin-top: -32px;
    margin-left: -26px;
    width:  56px !important;
    height: 64px !important;
    background-image: url("#{resource['img/extra1/office22.png']}") !important;
    background-size: 52px 66px !important;
}

#MainWindowForm\3a ProcessCtrlSampleListButton :hover{
    border-radius: 5px;
    background-color: #a1dbff;
}
*/



/* ***********************************************
    NON CONFORMITE SPLIT BUTTON
**************************************************/
/*
#MainWindowForm\3a splitButtonProcessCtrlType{
    // Div d'espace
    height: 24px !important;
    width:  32px !important;
}
#MainWindowForm\3a splitButtonProcessCtrlType_button{
    height: 24px !important;
    width:  32px !important;
    // RADIUS
    border-radius:              0px !important;
    border-top-right-radius:    5px !important;
    border-top-left-radius:     5px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius:  0px !important;
}

#MainWindowForm\3a splitButtonProcessCtrlType_button > span.ui-button-icon-left.ui-icon.ui-c.ism-menu-icon-ProcessCtrlType{
    margin-left: -10px !important;
    //margin-right: -30px !important;
    margin-top: -10px !important;
    background-image: url("#{resource['img/ctrl/related-to-peptide-1.PNG']}") !important;
    background-size: 20px 20px !important;
    width:  32px;
    height: 32px;
}
#MainWindowForm\3a splitButtonProcessCtrlType_menuButton{
    margin-left: -31px;
    margin-top: 24px;
    height: 4px !important;
    width:  32px !important;
    // BACKGROUND
    background-image: none !important;

    // RADIUS
    border-radius:              0px !important;
    border-top-right-radius:    0px !important;
    border-top-left-radius:     0px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius:  5px !important;
}


#MainWindowForm\3a splitButtonProcessCtrlSample{
    // Div d'espace
    height: 24px !important;
    width:  32px !important;
}
#MainWindowForm\3a splitButtonProcessCtrlSample_button{
    height: 24px !important;
    width:  32px !important;
    // RADIUS
    border-radius:              0px !important;
    border-top-right-radius:    5px !important;
    border-top-left-radius:     5px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius:  0px !important;
}

#MainWindowForm\3a splitButtonProcessCtrlSample_button > span.ui-button-icon-left.ui-icon.ui-c.ism-menu-icon-ProcessCtrlSample{
    margin-left: -10px !important;
    //margin-right: -30px !important;
    margin-top: -10px !important;
    background-image: url("#{resource['img/ctrl/eprouvette-1.png']}") !important;
    background-size: 20px 20px !important;
    width:  32px;
    height: 32px;
}
#MainWindowForm\3a splitButtonProcessCtrlSample_menuButton{
    margin-left: -31px;
    margin-top: 24px;
    height: 4px !important;
    width:  32px !important;
    // BACKGROUND
    background-image: none !important;

    // RADIUS
    border-radius:              0px !important;
    border-top-right-radius:    0px !important;
    border-top-left-radius:     0px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius:  5px !important;
}





/* ***********************************************
    MENU BUTTON
**************************************************/
/*
#MainWindowForm\3a menuBtnProcessCtrl{
    width:  52px !important;
    height: 56px !important;
    border-radius:  5px !important;
    background-image: url("#{resource['img/ctrl/related-to-peptide-1.PNG']}") !important;
}
#MainWindowForm\3a menuBtnProcessCtrl_button{
    width:  52px !important;
    height: 56px !important;
    // RADIUS
    border-radius:  5px !important;
    background-image: url("#{resource['img/ctrl/related-to-peptide-1.PNG']}") !important;
}

#MainWindowForm\3a menuBtnProcessCtrl_button > span.ui-button-icon-left.ui-icon.ui-c.ui-icon-triangle-1-s{
    margin-left: -10px !important;
    margin-right: -30px !important;
    margin-top: -10px !important;
    background-image: url("#{resource['img/ctrl/related-to-peptide-1.PNG']}") !important;
    background-image: url("#{resource['img/email/Email.png']}") !important;
    background-size: 20px 20px !important;
}
#MainWindowForm\3a menuBtnProcessCtrl_button > span.ui-button-text.ui-c{
    display: none;
}
*/









/* ***********************************************
    PANEL
**************************************************/
.ui-panel { 
    /* Main container element of panel */
    border: 0px;
    padding: 5px;
}
.ui-panel-titlebar { 
    /* Header container */
    border: 0px;
}
.ui-panel-title { /*
    //Header text
    //border: 0px;
    //background-color: green;*/
}
.ui-panel-titlebar-icon { /*
    //Option icon in header*/
    background-image: url("#{resource['img:home/home.png']}");
}
.ui-panel-content { /*
    //Panel content*/
    border: 0px;
    background-color: #5dc458;
}
.ui-panel-footer { /*
    //Panel footer*/
    border: 0px;
    background-color: coral;
}

/* ***********************************************
    DATALIST
**************************************************/
.ui-datalist{
    background-color: #AAA;
}



/* ***********************************************
MY SPECIFICATION
**************************************************/
.btnBig{
    width: 56px;
    height:64px;
    margin: 2px;
    margin-top: 0px;
    border-radius: 5px;
    /*
        background: #7db9e8; 
        background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(49%,#207cca), color-stop(50%,#2989d8), color-stop(100%,#1e5799)); 
        background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%); 
        background: -o-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%); 
        background: -ms-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%); 
        background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); 
    */
}

.btnBig:hover{
    border: 1px #fff solid;
    border-radius: 5px;
    background-color: lightblue;

    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

}

.btnSmall{
    width: 26px;
    height:28px;
    margin: 1px;
    border-radius: 3px;
}

.btnSmall:hover{
    border: 1px #fff solid;
    border-radius: 3px;
    background-color: lightblue;

    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

}

.btnPdf{
    text-decoration:none;
    color: #ffffff;
    padding: 2px;
    min-width: 22px;
    min-height:24px;
    margin: 1px;
    border-radius: 3px;
}
.btnPdf img{
    max-width: 22px; max-height: 24px;
}

.btnPdf:hover{
    text-decoration:none;
    min-width: 22px;
    min-height:24px;
    border: 1px #fff solid;
    border-radius: 3px;
    background-color: lightblue;

    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

}

.btnMini{
    width:  13px;
    height: 14px;
    margin: 1px;
    border: 1px #fff solid;
}

.hideToolbar .ui-editor-toolbar {
    display: none;
    background-color: lightgray;
    padding: 0px; 
    color: blue;
}


.editorModel {
    background-color: lightgray;
    padding: 0px; 
    color: blue;
}
/* ***********************************************
PERSONNALISATION DES REQUÊTES DE NON CONFORMITE
**************************************************/
.ncRequestTable{
    width: 640px;
    margin: auto;
    alignment-adjust: central;
    border: solid 1px #CCC;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
    height : 32px;
    min-height: 48px;
}

.ncRequestHeaderLine{
    background-color: #AAA;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 22px;
    border: solid 1px #CCC;
}

.ncRequestHeaderTitle{
    color: white;
    text-align: center;
    background-color: #7BB9E8;
}

.ncRequestHesderContentLeft {
    width: 128px;
    min-width: 128px;
    border-top-left-radius: 5px;
}

.ncRequestHeaderContentRight {
    width: 128px;
    border-top-right-radius: 5px;
}


.ismCancel {
    background-image: url("'#{resource['img/extra1/Critical.png']}")!important;
}

.ismStateA {
    color: #339966 !important;
}

.ismStateB {
    color: #036fab !important;
}




input,
select,
textarea,
button,
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-widget-header,
.ui-widget-content,
.ui-widget-header .ui-widget-header,
.ui-widget-content .ui-widget-content {
    font-family: Arial, Verdana, sans-serif;
    font-size: 8pt  !important;
}




#StaffManagerCreateForm .ui-wizard-navbar {
    color: #090;
    background-color: #036fab;
}

#StaffManagerCreateForm .ui-panel-titlebar {
    text-align: left;
    border-radius: 0px;
    background-color: #a1dbff;
}

#StaffManagerCreateForm .ui-wizard-step-titles{
    /*
    //color: #090;
    //background-color: #ececec;
    */
}

#StaffManagerCreateForm .ui-wizard-step-title{/*
    //color: #090;
    //background-color: #ececec;*/
}

#StaffManagerCreateForm .ui-wizard-content{/*
    //color: #000;
    //background-color:  #ececec;*/
}


