/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-mai-2016, 11:26:00
    Author     : r.hendrick
*/


#menuitemSMQNCOpen .ui-icon{
    width: 16px;
    height: 16px;
}

.ui-icon-smq-ncOpen{
    background: url("#{resource['img/ism/admin/smq_nc_consulter.png']}") no-repeat;
    background-size:contain;
}


#smq-nc-titles{
    padding: 10px;
    border: 1px solid #dee3ff;
    background-color: #dee3ff;
    margin-left: 5px;
    margin-right: 5px;
}
.smq-nc-title{
    font-size: 0.9em!important;
    font-style:  italic;
    color: #088cce;
    width: 100%;
}
#smq-nc-title-State{
    font-size: 0.6em!important;
}

#InFormMode{
    padding: 10px;
    border: 1px solid #dee3ff;
    /*background-color: #dee3ff;*/
    margin-left: 5px;
    margin-right: 5px;
}
#InFormMode .ui-btn-Save {
    height: 64px;
}


/* =============================================================================
 * PANEL GESTION NC
 *
 * ===========================================================================*/
.smq-nc-panelClass{
    margin: 5px;
    margin-bottom: 50px;
}
.panelGridClass{
    /*width: 100%;*/
}

#InFormMode .ui-widget input,
#InFormMode .ui-widget select,
#InFormMode .ui-widget .ui-selectonemenu{
    width: 400px;
}
#InFormMode .ui-selectonemenu {
    min-width: 395px;
    max-width: 395px;
}
.ui-selectonemenu label{
    min-height: 16px;
}

.hideToolbar .ui-editor.ui-widget-content {
    max-height: 120px;
}
.hideToolbar .ui-editor-toolbar {
    display: none;
}
iframe {
    /*min-height: 120px;*/
    /*max-height: 120px;*/
    height: 100%;
    width: 100%;
}

.panel{
    margin: 5px;
}





