/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-avr.-2016, 23:02:45
    Author     : r.hendrick
*/

/*
.ui-widget              Class applied to all PrimeFaces components. It applies,
                        for example, font family and font size to any component.
.ui-widget-header       Class applied to the header section(s) of a component.
.ui-widget-content      Class applied to the content section(s) of a component.
.ui-state-default       Default class applied to clickable, button-like components
                        or their elements.
.ui-state-hover         Class applied on mouseover to clickable, button-like
                        components or their elements.
.ui-state-active        Class applied on mousedown to clickable, button-like
                        components or their elements.
.ui-state-disabled      Class applied to components or their elements when they
                        are disabled.
.ui-state-highlight     Class applied to components or their elements when they
                        are highlighted or selected.
.ui-state-error         Class applied to error messaging container elements.

.ui-icon                Class applied to elements representing an icon. It sets
                        dimensions, hides inner text, background image.
.ui-corner-all          Class applies corner-radius to all four corners of a
                        component.
.ui-corner-top          Class applies corner-radius to both top corners of a
                        component.
.ui-corner-bottom       Class applies corner-radius to both bottom corners of a
                        component.

*/

/*******************************************************************************
* Gestion des paramètres principaux du ruban
* Notamment l'occupation de l'entièreté de la page, le style et la taille
*******************************************************************************/
body {
    margin: 0px;
    padding: 0px;
}

#ribbon-layout button,
#ribbon-layout .ui-widget,
#ribbon-layout .ui-widget input,
#ribbon-layout .ui-widget select,
#ribbon-layout .ui-widget ui-selectonemenu,
#ribbon-layout .ui-widget textarea,
#ribbon-layout .ui-widget button,
#ribbon-layout .ui-widget-header,
#ribbon-layout .ui-widget-content,
#ribbon-layout .ui-widget-header .ui-widget-header,
#ribbon-layout .ui-widget-content .ui-widget-content {
    font-family: calibri, Helvetica,"Trebuchet MS",  sans-serif !important;
    font-size: 8pt;
}

/*******************************************************************************
* Gestion de la bart de raccourci
* ribbon-layout-shortcut : Barre de menu des raccourci du ruban 
*  + shortcut-main
*  + shortcut-left
*  + shortcut-center
*  + shortcut-right
*******************************************************************************/
#ribbon-layout-shortcut{
    /*border: 1px #f4f3f3 dashed; */
    width: 100%;
    max-height: 27px;
    position: absolute; z-index: 2;
}
#ribbon-layout-shortcut .ui-button{
    margin: 2px;
    border: none;
    min-width:  24px;
    min-height: 24px;
    max-height: 24px;
    max-width: 24px;
    /*///background-color: #4dbf41;*/
}
#ribbon-layout-shortcut .ui-selectonemenu{
    float: left;
}
#ribbon-layout-shortcut #shortcut-main {
    float: left;
}
#ribbon-layout-shortcut #shortcut-main .ui-icon{
    background: url("#{resource['img/ism/ribbon/shortcut.png']}") no-repeat;
    background-size:contain;
}
#ribbon-layout-shortcut #shortcut-left {
    float: left;
}
#ribbon-layout-shortcut #shortcut-center {
    float: left;
    margin-top: -26px;
    text-align: center;
    width: 100%;
}
#ribbon-layout-shortcut #shortcut-center .ui-outputlabel{
    font-size: 10pt;
    color: #4f4949;
}
#ribbon-layout-shortcut #shortcut-right {
    float: right;
    margin-top: -30px;
}
#ribbon-layout-shortcut #shortcut-right .ui-button{
    max-width: 200px;
}
#ribbon-layout .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all{
    margin-top: 3px;
}
#ribbon-layout-shortcut #shortcut-right .ui-icon.ui-icon-key{/*
    ///background: url("#{resource['img/ism/ribbon/shortcut.png']}") no-repeat;
    ///background-size:contain;*/
}
#ribbon-layout-shortcut #shortcut-right .ui-icon-closethick{/*
    ///background: url("#{resource['img/ism/ribbon/shortcut-exit.png']}") no-repeat;
    ///background-size:contain;*/
}



/*******************************************************************************
* Gestion du ruban primefaces
* ism-ribbon
* 
*******************************************************************************/
#ribbon-layout {
    /*min-height: 149px;
    background-color: #f4f3f3;*/
}
#ribbon-layout ul.ui-tabs-nav{
    padding-top: 26px!important;
    padding-bottom: 2px;
    line-height: 15px;
    text-align: center;
    border-right: 1px #f4f3f3 solid;
}
#ribbon-layout li.ui-state-default {
    padding: 0px;
    margin:0px;
    margin-top:2px;
    margin-right: 4px;

    max-height: 25px;
    border: none!important;
    text-align: center;
    opacity: 90%;
    font-family :  "Trebuchet MS",Helvetica, calibri, sans-serif !important;
    font-size: 10pt;
}
#ribbon-layout ul.ui-tabs-nav li.ui-state-default {
    background: none;
}
#ribbon-layout ul.ui-tabs-nav li.ui-state-default.ui-tabs-selected.ui-state-active {
    background-color: grey;
    color: white!important;
}
#ribbon-layout ul.ui-tabs-nav li.ui-state-default.ui-tabs-selected.ui-state-active a{
    color: white!important;
}
#ribbon-layout #main {
    padding: 0px;
    margin:0px;
    height: 21px;
    width: 64px;
    padding-top: 5px;
    vertical-align: middle;
    border: none;
    text-align: center;
    background-color: #333;
    opacity: 60%;
    color: white;
    border: none!important;
    font-weight: normal!important;
}
#ribbon-layout  #main:hover{
    background-color: #009933;
}
#ribbon-layout .ui-tabs-panels{
    /*margin-top: 20px;*/
}


/*******************************************************************************
* ADMINISTRATION AREA MENU
*
*
*
*******************************************************************************/

/*******************************************************************************
* ADMINISTRATION / SMQ
*******************************************************************************/
#btnSMQProcessus .ui-ribbonicon-new{
    background: url("#{resource['img/ism/admin/smq_processus.png']}") no-repeat;
    background-size:contain;
}
#btnSMQDocType .ui-icon{
    background: url("#{resource['img/ism/admin/smq_doc_type.png']}") no-repeat;
    background-size:contain;
}
#btnSMQDocument .ui-icon{
    background: url("#{resource['img/ism/admin/smq_documents.png']}") no-repeat;
    background-size:contain;
}

span.ui-button-icon-left.ui-icon.ui-c.ui-icon-smqnc {
    background: url("#{resource['img/ism/admin/smq_nc.png']}") no-repeat;
    background-size:contain;
}

span.ui-menuitem-icon.ui-icon{
    width: 22px;
    height: 22px;
}
span.ui-menuitem-text{
    margin-left: 5px;
    padding-top: 5px;
    height: 22px;
    font-family :  "Trebuchet MS",Helvetica, calibri, sans-serif !important;
    font-size: 10pt;
    font-weight: normal!important;
}
span.ui-menuitem-icon.ui-icon.ui-icon-smqnc-unit {
    background: url("#{resource['img/ism/admin/smq_nc_unite.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-smqnc-nature {
    background: url("#{resource['img/ism/admin/smq_nc_nature.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-smqnc-gravite {
    background: url("#{resource['img/ism/admin/smq_nc_gravite.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-smqnc-frequence {
    background: url("#{resource['img/ism/admin/smq_nc_frequence.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-smqnc-request {
    background: url("#{resource['img/ism/admin/smq_nc.png']}") no-repeat;
    background-size:contain;
}
/*******************************************************************************
* RESOURCES / CONFIGURATION
*******************************************************************************/
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffgroups{
    background: url("#{resource['img/ism/hr/groupes.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffroles{
    background: url("#{resource['img/ism/hr/roles.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffcompany{
    background: url("#{resource['img/ism/hr/company.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffacces{
    background: url("#{resource['img/ism/hr/acces.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffcreate{
    background: url("#{resource['img/ism/hr/u_profil.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstafflist{
    background: url("#{resource['img/ism/hr/u_setup.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffusers{
    background: url("#{resource['img/ism/hr/st_users.png']}") no-repeat;
    background-size:contain;
}

/* ============================================================================
    SPECIAL CASE FOR RESOURCES
==============================================================================*/
ul.ui-ribbon-groups #RibbonGroupResources  {
    width: 450px;
}





/* ============================================================================
    SMQ NC DropDown Button
==============================================================================*/
.ui-menubutton-smqnc {
    margin: 0px;
    padding:0px;
}
.ui-menubutton-smqnc  .ui-button{
    width: 86px;
    height: 74px;
    padding: 0px;
    margin: 0px;
    border: none;
}
.ui-menubutton-smqnc  .ui-button:hover{
    background-color: #6cd8ba;
}
.ui-menubutton-smqnc  .ui-button span.ui-button-text.ui-c{
    margin-top: 40px;
    padding:0px;
    padding-top: 3px;
    vertical-align: bottom;
    height: 25px;
    width: 84px;

    font-family :  "Trebuchet MS",Helvetica, calibri, sans-serif !important;
    font-size: 9pt;
    font-weight: lighter;

}
.ui-menubutton-smqnc  .ui-button-text.ui-c:hover{
    color:white;
}
.ui-menubutton-smqnc  .ui-button-icon-left.ui-icon.ui-c.ui-icon-triangle-1-s{
   width: 44px;
   height: 44px;
    margin: 0px;
    padding: 0px;
    margin-top: -32px;
    margin-left: 16px;
    background: url("#{resource['img/ism/admin/smq_nc_setup.png']}") no-repeat;
    background-size:contain;
}




/* ============================================================================
    SPLIT BUTTON
==============================================================================*/
/*
div .ui-icon-smq-setup{
    width: 86px;
    height: 72px;
    margin:0px;
    padding:0px;
    border: none;
}

div .ui-icon-smq-setup .ui-button{
    width: 86px;
    height: 58px;
    margin:0px;
    padding:0px;
    border: none;
}

div .ui-icon-smq-setup .ui-button span.ui-button-icon-left{
    width: 44px;
    height: 44px;
    margin-left: -22px;
    margin-top: -22px;
}
div .ui-icon-smq-setup .ui-button:hover{
    background-color: #6cd8ba; 
}

.ui-icon-smq-setup span.ui-button-icon-left {
    background: url("#{resource['img/ism/admin/smq_nc.png']}") no-repeat;
    background-size:contain;
}

div .ui-icon-smq-setup .ui-splitbutton-menubutton.ui-button{
    margin: 0px;
    padding:0px;
    margin-top: 60px;
    margin-left: -85px;
    height: 12px;
    width: 86px;
}

div .ui-icon-smq-setup .ui-splitbutton-menubutton.ui-button span.ui-button-icon-left{
    width: 10px;
    height: 10px;
    margin: 0px;
    padding:0px;
    margin-top: -6px;
    margin-left: 30px;
    background-color: #009933;
    background: url("#{resource['img/ism/std/menu_down.gif']}") no-repeat;
    background-size:contain;
    border: 1px solid #33CC00;
}
*/

