/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-mai-2016, 19:49:14
    Author     : r.hendrick
*/


.menu-btn .ui-button-text{
    text-align: left;
}

.menu-btn .ui-icon-person{
    background: url("#{resource['img/ism/hr/staff.png']}") no-repeat;
    background-size:contain;
}

.menu-btn .ui-icon-wrench{
    background: url("#{resource['img/ism/hr/u_setup.png']}") no-repeat;
    background-size:contain;
}

.menu-btn{
    height: 44px;
    margin: 2px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-family :  "Trebuchet MS",Helvetica, calibri, sans-serif !important;
    font-size: 10pt;
    color: #f9f9f9;
}

.menu-btn:hover{
    background-color: #009933;
}


#layout-content{
    /*border: 1px #f4f3f3 dashed;*/
    height: 100%;
    margin-top: -20px;
}
