/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-avr.-2016, 23:02:45
    Author     : r.hendrick
*/

/*
.ui-widget              Class applied to all PrimeFaces components. It applies,
                        for example, font family and font size to any component.
.ui-widget-header       Class applied to the header section(s) of a component.
.ui-widget-content      Class applied to the content section(s) of a component.
.ui-state-default       Default class applied to clickable, button-like components
                        or their elements.
.ui-state-hover         Class applied on mouseover to clickable, button-like
                        components or their elements.
.ui-state-active        Class applied on mousedown to clickable, button-like
                        components or their elements.
.ui-state-disabled      Class applied to components or their elements when they
                        are disabled.
.ui-state-highlight     Class applied to components or their elements when they
                        are highlighted or selected.
.ui-state-error         Class applied to error messaging container elements.

.ui-icon                Class applied to elements representing an icon. It sets
                        dimensions, hides inner text, background image.
.ui-corner-all          Class applies corner-radius to all four corners of a
                        component.
.ui-corner-top          Class applies corner-radius to both top corners of a
                        component.
.ui-corner-bottom       Class applies corner-radius to both bottom corners of a
                        component.

*/

/*******************************************************************************
* Gestion des paramètres principaux du ruban
* Notamment l'occupation de l'entièreté de la page, le style et la taille
*******************************************************************************/
body {
    margin: 0px;
    padding: 0px;
}

#ribbon-layout button,
#ribbon-layout .ui-widget,
#ribbon-layout .ui-widget input,
#ribbon-layout .ui-widget select,
#ribbon-layout .ui-widget ui-selectonemenu,
#ribbon-layout .ui-widget textarea,
#ribbon-layout .ui-widget button,
#ribbon-layout .ui-widget-header,
#ribbon-layout .ui-widget-content,
#ribbon-layout .ui-widget-header .ui-widget-header,
#ribbon-layout .ui-widget-content .ui-widget-content {
    font-family: calibri, Helvetica,"Trebuchet MS",  sans-serif !important;
    font-size: 8pt;
}





/*******************************************************************************
* Gestion de la bart de raccourci
* layout-shortcut : Barre de menu des raccourci du ruban 
*  + shortcut-main
*  + shortcut-left
*  + shortcut-center
*  + shortcut-right
*******************************************************************************/
#layout-shortcut{
    width: 100%;
    max-height: 24px;
    position: absolute; 
    /*z-index: 2;*/
    float:left;
}
#layout-shortcut .ui-button{
    margin: 1px;
    padding:0px;    /*Supprime le padding de tous les boutons */
    border: none;   /*Supprime les bordure de tous les button */
    min-height: 22px;
    max-height: 22px;
    min-width:  24px;
    max-width: 24px;
}
#layout-shortcut .ui-button-icon-left.ui-icon.ui-c.ui-icon-triangle-1-s{
    display: none!important; /* Supprime l'affichage d'icône dans les bouttons de la barre shortcut */
    margin-left: -5px!important;
}
#layout-shortcut .ui-button-text.ui-c{
    display: none!important; /* Supprime l'affichage de texte des buttons dans shortcut*/
}

/* ====================== */
#shortcutForm\3a shortcut-selector .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left{
    /* Bordure et padding déjà supprimé avec layout=shortcut .ui-button */
    background: url("#{resource['img/ism/ribbon/shortcut.png']}") no-repeat;
    background-size:contain;
}

#layout-shortcut #shortcut-main {
    float: left;
}
#layout-shortcut #shortcut-left {
    float: left;
}
#layout-shortcut #shortcut-center {
    margin-top: -20px;
    float: left;
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 10pt;
    color: #4f4949;
}
#layout-shortcut #shortcut-right {
    float: right;
    margin-top: -25px;
    max-height: 24px!important;
}
#layout-shortcut #shortcut-right * {
    margin-left: 2px;
    font-size: 8pt;
    float: left;
}
#layout-shortcut #shortcut-timeout{
    margin-top: 2px;
    padding: 2px;
    height: 18px;
    text-align: center;
    background-color: white;
}




/*******************************************************************************
* Gestion du ruban primefaces
* ism-ribbon
* 
*******************************************************************************/
#ribbon-layout {
    /*min-height: 149px;
    background-color: #f4f3f3;*/
}
#ribbon-layout ul.ui-tabs-nav{
    /*padding-top: 26px!important;*/
    padding-bottom: 2px;
    line-height: 15px;
    text-align: center;
    border-right: 1px #f4f3f3 solid;
}
#ribbon-layout li.ui-state-default {
    padding: 0px;
    margin:0px;
    margin-top:2px;
    margin-right: 4px;

    max-height: 25px;
    border: none!important;
    text-align: center;
    opacity: 90%;
    font-family :  "Trebuchet MS",Helvetica, calibri, sans-serif !important;
    font-size: 10pt;
}
#ribbon-layout ul.ui-tabs-nav li.ui-state-default {
    background: none;
}
#ribbon-layout ul.ui-tabs-nav li.ui-state-default.ui-tabs-selected.ui-state-active {
    background-color: grey;
    color: white!important;
}
#ribbon-layout ul.ui-tabs-nav li.ui-state-default.ui-tabs-selected.ui-state-active a{
    color: white!important;
}
#ribbon-layout #main {
    padding: 0px;
    margin:0px;
    height: 21px;
    width: 64px;
    padding-top: 5px;
    vertical-align: middle;
    border: none;
    text-align: center;
    background-color: #333;
    opacity: 60%;
    color: white;
    border: none!important;
    font-weight: normal!important;
}
#ribbon-layout  #main:hover{
    background-color: #009933;
}
#ribbon-layout .ui-tabs-panels{
    /*margin-top: 20px;*/
}


/*******************************************************************************
* ADMINISTRATION AREA MENU
*
*
*
*******************************************************************************/

.ui-button-icon-left.ui-icon.ui-c.ui-btn-sign-up{
    margin-left: -4px!important;
    margin-top: -12px!important;
    background: url("#{resource['img/ism/window/up_symbol.png']}") no-repeat;
    background-size:contain;
}
.ui-button-icon-left.ui-icon.ui-c.ui-btn-exit{
    margin-left: -4px!important;
    margin-top: -12px!important;
    background: url("#{resource['img/ism/ribbon/exit.png']}") no-repeat;
    background-size:contain;
}

/*******************************************************************************
* ACCEUIL / STAFF
*******************************************************************************/
#btnHomeHome .ui-ribbonicon-home{
    background: url("#{resource['img/ism/ribbon/home.png']}") no-repeat;
    background-size:contain;
}

#btnHomeLogOut .ui-ribbonicon-exit{
    background: url("#{resource['img/ism/ribbon/exit.png']}") no-repeat;
    background-size:contain;
}

#btnHomeStaffProfil .ui-ribbonicon-person{
    background: url("#{resource['img/ism/hr/staff.png']}") no-repeat;
    background-size:contain;
}

#btnHomeStaffConfig  .ui-ribbonicon-config{
    background: url("#{resource['img/ism/hr/u_setup.png']}") no-repeat;
    background-size:contain;
}



/*******************************************************************************
* ADMINISTRATION / SMQ
*******************************************************************************/
#btnSMQProcessus .ui-ribbonicon-new{
    background: url("#{resource['img/ism/admin/smq_processus.png']}") no-repeat;
    background-size:contain;
}
#btnSMQDocType .ui-icon{
    background: url("#{resource['img/ism/admin/smq_doc_type.png']}") no-repeat;
    background-size:contain;
}
#btnSMQDocument .ui-icon{
    background: url("#{resource['img/ism/admin/smq_documents.png']}") no-repeat;
    background-size:contain;
}

span.ui-button-icon-left.ui-icon.ui-c.ui-icon-smqnc {
    background: url("#{resource['img/ism/admin/smq_nc.png']}") no-repeat;
    background-size:contain;
}

span.ui-menuitem-icon.ui-icon{
    width: 22px;
    height: 22px;
}
span.ui-menuitem-text{
    margin-left: 5px;
    padding-top: 5px;
    height: 22px;
    font-family :  "Trebuchet MS",Helvetica, calibri, sans-serif !important;
    font-size: 10pt;
    font-weight: normal!important;
}
span.ui-menuitem-icon.ui-icon.ui-icon-smqnc-unit {
    background: url("#{resource['img/ism/admin/smq_nc_unite.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-smqnc-nature {
    background: url("#{resource['img/ism/admin/smq_nc_nature.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-smqnc-gravite {
    background: url("#{resource['img/ism/admin/smq_nc_gravite.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-smqnc-frequence {
    background: url("#{resource['img/ism/admin/smq_nc_frequence.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-smqnc-request {
    background: url("#{resource['img/ism/admin/smq_nc.png']}") no-repeat;
    background-size:contain;
}
/*******************************************************************************
* RESOURCES / CONFIGURATION
*******************************************************************************/
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffgroups{
    background: url("#{resource['img/ism/hr/groupes.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffroles{
    background: url("#{resource['img/ism/hr/roles.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffcompany{
    background: url("#{resource['img/ism/hr/company.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffacces{
    background: url("#{resource['img/ism/hr/acces.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffcreate{
    background: url("#{resource['img/ism/hr/u_profil.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstafflist{
    background: url("#{resource['img/ism/hr/u_setup.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-hrstaffusers{
    background: url("#{resource['img/ism/hr/st_users.png']}") no-repeat;
    background-size:contain;
}

/* ============================================================================
    SPECIAL CASE FOR RESOURCES
==============================================================================*/
ul.ui-ribbon-groups #RibbonGroupResources  {
    width: 450px;
}





/* ============================================================================
    SMQ NC DropDown Button
==============================================================================*/
.ui-menubutton-smqnc {
    margin: 0px;
    padding:0px;
}
.ui-menubutton-smqnc  .ui-button{
    width: 86px;
    height: 74px;
    padding: 0px;
    margin: 0px;
    border: none;
}
.ui-menubutton-smqnc  .ui-button:hover{
    background-color: #6cd8ba;
}
.ui-menubutton-smqnc  .ui-button span.ui-button-text.ui-c{
    margin-top: 40px;
    padding:0px;
    padding-top: 3px;
    vertical-align: bottom;
    height: 25px;
    width: 84px;

    font-family :  "Trebuchet MS",Helvetica, calibri, sans-serif !important;
    font-size: 9pt;
    font-weight: lighter;

}
.ui-menubutton-smqnc  .ui-button-text.ui-c:hover{
    color:white;
}
.ui-menubutton-smqnc  .ui-button-icon-left.ui-icon.ui-c.ui-icon-triangle-1-s{
    width: 44px;
    height: 44px;
    margin: 0px;
    padding: 0px;
    margin-top: -32px;
    margin-left: 16px;
    background: url("#{resource['img/ism/admin/smq_nc_setup.png']}") no-repeat;
    background-size:contain;
}




/*******************************************************************************
* PROCESS / 
*******************************************************************************/
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-equipement{
    background: url("#{resource['img/ism/process/equipement.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-unite{
    background: url("#{resource['img/ism/process/unite.png']}") no-repeat;
    background-size:contain;
}

span.ui-button-icon-left.ui-icon.ui-c.ui-icon-analysepoint{
    background: url("#{resource['img/ism/process/analysepoint.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-analysedata{
    background: url("#{resource['img/ism/process/analysedata.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-analysedatastatis{
    background: url("#{resource['img/ism/process/statis.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-analysecategory{
    background: url("#{resource['img/ism/process/analysecategory.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-analysemethod{
    background: url("#{resource['img/ism/process/analysemethod.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-analysetype{
    background: url("#{resource['img/ism/process/analysetype.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-analysepoint{
    background: url("#{resource['img/ism/process/analysepoint.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-analyseallowed{
    background: url("#{resource['img/ism/process/analyseallowed.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-analysenotify{
    background: url("#{resource['img/ism/process/analysenotify.png']}") no-repeat;
    background-size:contain;
}
span.ui-menuitem-icon.ui-icon.ui-icon-analysedata{
    background: url("#{resource['img/ism/process/analysedata.png']}") no-repeat;
    background-size:contain;
}

#menubutton-specification span.ui-button-icon-left.ui-icon.ui-c.ui-icon-triangle-1-s{
    background: url("#{resource['img/ism/process/specification.png']}") no-repeat;
    background-size:contain;
}



/*******************************************************************************
* AFFICHAGE / CONFIGURATION
*******************************************************************************/
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-layoutInit{
    background: url("#{resource['img/ism/window/layoutInit.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-layoutWest{
    background: url("#{resource['img/ism/window/layoutWest.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-layoutEast{
    background: url("#{resource['img/ism/window/layoutEast.png']}") no-repeat;
    background-size:contain;
}
span.ui-button-icon-left.ui-icon.ui-c.ui-icon-layoutSouth{
    background: url("#{resource['img/ism/window/layoutSouth.png']}") no-repeat;
    background-size:contain;
}



